p:nth-child(1) {
  text-align: center;
  font-family: "inconsolata";
  font-size: 350%;
  margin: auto;
}

p {
  text-align:center;
  font-family: "inconsolata";
  margin:auto;
}

body {
  background-color: #505050;
}
